DATABASE_URL="postgresql://jetkvm:jetkvm@localhost:5432/jetkvm?schema=public"

GOOGLE_CLIENT_ID=XXX        # Google OIDC Client ID
GOOGLE_CLIENT_SECRET=XXX    # Google OIDC Client Secret

API_HOSTNAME=XXX            # Is needed for the OIDC Callback
APP_HOSTNAME=XXX            # Is needed for the OIDC Callback

CLOUDFLARE_TURN_ID=XXX      # Cloudflare TURN ID
CLOUDFLARE_TURN_TOKEN=XXX   # Cloudflare TURN Token

COOKIE_SECRET=XXX           # Session Cookie Secret

R2_ENDPOINT=XXX             # Any S3 compatible endpoint
R2_ACCESS_KEY_ID=XXX        # Any S3 compatible access key
R2_SECRET_ACCESS_KEY=XXX    # Any S3 compatible secret access key
R2_BUCKET=XXX               # Any S3 compatible bucket
R2_CDN_URL=XXX              # Any S3 compatible CDN URL
